.container {

    padding: 16px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    font-family: "Inter", sans-serif;
  }
  
  .title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4px;
  }
  
  .subtitle {
    font-size: 13px;
    color: #777;
    margin-bottom: 16px;
  }
  
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background 0.3s ease;
  }
  
  .youItem {
    background: #f4f6ff;
    border: 1px solid #d3dcff;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .rankCircle {
    width: 32px;
    height: 32px;
    background: #eaeaea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    margin-right: 12px;
    color: #333;
  }
  
  .rank1 {
    background: gold;
    color: white;
  }
  
  .rank2 {
    background: silver;
    color: white;
  }
  
  .rank3 {
    background: #cd7f32; /* bronze */
    color: white;
  }
  
  .details {
    display: flex;

    flex-direction: column;
  }
  
  .name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
  }
  
  .youName {
    font-size: 15px;
    font-weight: 600;
    color: #4965ff;
  }
  
  .time {
    font-size: 13px;
    color: #888;
  }
  
  .score {
    font-weight: 600;
    font-size: 16px;
    color: #4965ff;
  }
  